nano/*.run
container/exasol_nano_*.tar
output/*

qemu.pid
virtiofs.sock.pid
virtiofsd.pid
virtiofs.sock
vm.log
vm-console.log
vfkit.pid
vfkit.log
shared/*
!shared/.gitkeep
!shared/README.md
package/
!host/package/
release/
